/* You can add global styles to this file, and also import other style files */

$bodyfont: 'Poppins',
sans-serif;
$headingfont: 'Poppins',
sans-serif;

@import '~@angular/material/theming';

$primary: mat-palette($mat-blue, 600);
$accent: mat-palette($mat-indigo, 500);
$warn: mat-palette($mat-pink, 500);
$theme: mat-light-theme($primary, $accent, $warn);
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);

@include angular-material-theme($theme);

$head-bar: #2196f3;
$sidebar: #fff;
$sidebar-white: #e5edef;
$bodycolor: #eef5f9;
$headingtext: #455a64;
$bodytext: #67757c;
$sidebar-text: #8f999e;
$sidebar-icons: #99abb4;

$font-16: 16px;

$themecolor: #1e88e5;
$themecolor-alt: #26c6da;

$danger: #ea3d2f;
$success: #2fa84f;
$warning: #f3aa18;
$primary: #367bf5;
$info: #26c6da;
$teal: #069697;
$inverse: #2f3d4a;
$muted: #99abb4;
$light: #f2f4f8;
$extra-light: #ebf3f5;
$secondary: #727b84;

$light-danger: #fee4e2;
$light-success: #dcf7e3;
$light-warning: #fcf3d7;
$light-primary: #e6efff;
$light-info: #e8fdf8;
$light-teal: #daf5f2;
$light-inverse: #f6f6f6;

$white: #ffffff;
$dark: #000000;
$red: #fb3a3a;
$purple: #7460ee;
$blue: #02bec9;

$border: rgba(120, 130, 140, 0.13);
$radius: 4px;

* {
  outline: none;
  box-sizing: border-box;
}

.ngx-material-timepicker-toggle > svg {
  width: 17px;
  height: 17px;
}

.mat-input-invalid {
  border: 1px solid #e91e63;
  border-width: 2px;
  border-radius: 6px;
}

body {
  font-family: $bodyfont;
  margin: 0;
  overflow-x: hidden;
  color: $bodytext;
  font-weight: 300;
  background: $inverse;
}

html {
  position: relative;
  min-height: 100%;
  background: $white;
}

a:hover,
a:focus,
a {
  text-decoration: none;
}

a.link {
  color: $headingtext;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $themecolor;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
  display: inline-block;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: $radius;
}

code {
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: $danger;
  background-color: $light-danger;
  border-radius: 0.25rem;
}

.shadow-none {
  box-shadow: none !important;
}

.ml-auto {
  margin-left: auto;
}

.m-auto {
  margin: auto;
}

.mr-auto {
  margin-right: auto;
}

.rounded {
  border-radius: $radius;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingfont;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

.h1,
h1 {
  font-weight: 300;
  font-size: 96px;
  line-height: normal;
  letter-spacing: -1.5px;
}

.h2,
h2 {
  font-weight: 300;
  font-size: 60px;
  line-height: normal;
}

.h3,
h3 {
  font-weight: normal;
  font-size: 48px;
  line-height: normal;
}

.h4,
h4 {
  font-weight: normal;
  font-size: 34px;
  line-height: normal;
  letter-spacing: 0.25px;
}

.h5,
h5 {
  font-weight: normal;
  font-size: 24px;
  line-height: normal;
}

.h6,
h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15px;
}

.box {
  border-radius: $radius;
  padding: 10px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.d-flex {
  display: flex;
}

.no-shrink {
  flex-shrink: 0;
}

.clear {
  clear: both;
}

html body {
  .heigh-100 {
    height: 100%;
  }
}

html body {
  .p-0 {
    padding: 0px;
  }

  .p-10 {
    padding: 10px;
  }

  .p-20 {
    padding: 20px;
  }

  .p-30 {
    padding: 30px;
  }

  .p-l-0 {
    padding-left: 0px;
  }

  .p-l-10 {
    padding-left: 10px;
  }

  .p-l-20 {
    padding-left: 20px;
  }

  .p-r-0 {
    padding-right: 0px;
  }

  .p-r-10 {
    padding-right: 10px;
  }

  .p-r-20 {
    padding-right: 20px;
  }

  .p-r-30 {
    padding-right: 30px;
  }

  .p-r-40 {
    padding-right: 40px;
  }

  .p-t-0 {
    padding-top: 0px;
  }

  .p-t-5{
    padding-top: 5px;
  }

  .p-t-10 {
    padding-top: 10px;
  }

  .p-t-20 {
    padding-top: 20px;
  }

  .p-t-30 {
    padding-top: 30px;
  }

  .p-t-40 {
    padding-top: 40px;
  }

  .p-b-0 {
    padding-bottom: 0px;
  }

  .p-b-5 {
    padding-bottom: 5px;
  }

  .p-b-10 {
    padding-bottom: 10px;
  }

  .p-b-20 {
    padding-bottom: 20px;
  }

  .p-b-30 {
    padding-bottom: 30px;
  }

  .p-b-40 {
    padding-bottom: 40px;
  }

  .p-x-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .p-x-5 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .p-x-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .p-x-20 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .p-x-30 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .p-x-40 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .p-y-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .p-y-5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .p-y-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .p-y-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .p-y-30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .p-y-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

html body {
  .m-0 {
    margin: 0px;
  }

  .m-l-0 {
    margin-left: 0px;
  }

  .m-l-5 {
    margin-left: 5px;
  }

  .m-l-10 {
    margin-left: 10px;
  }

  .m-l-15 {
    margin-left: 15px;
  }

  .m-l-20 {
    margin-left: 20px;
  }

  .m-l-25 {
    margin-left: 25px;
  }

  .m-l-30 {
    margin-left: 30px;
  }

  .m-l-40 {
    margin-left: 40px;
  }

  .m-r-0 {
    margin-right: 0px;
  }

  .m-r-5 {
    margin-right: 5px;
  }

  .m-r-10 {
    margin-right: 10px;
  }

  .m-r-15 {
    margin-right: 15px;
  }

  .m-r-20 {
    margin-right: 20px;
  }

  .m-r-30 {
    margin-right: 30px;
  }

  .m-r-40 {
    margin-right: 40px;
  }

  .m-t-0 {
    margin-top: 0px;
  }

  .m-t-5 {
    margin-top: 5px;
  }

  .m-t-10 {
    margin-top: 10px;
  }

  .m-t-15 {
    margin-top: 15px;
  }

  .m-t-20 {
    margin-top: 20px;
  }

  .m-t-30 {
    margin-top: 30px;
  }

  .m-t-40 {
    margin-top: 40px;
  }

  .m-b-0 {
    margin-bottom: 0px;
  }

  .m-b-5 {
    margin-bottom: 5px;
  }

  .m-b-10 {
    margin-bottom: 10px;
  }

  .m-b-15 {
    margin-bottom: 15px;
  }

  .m-b-20 {
    margin-bottom: 20px;
  }

  .m-b-30 {
    margin-bottom: 30px;
  }

  .m-b-40 {
    margin-bottom: 40px;
  }

  .m-x-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .m-x-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .m-x-10 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .m-x-15 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .m-x-20 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .m-x-30 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .m-x-40 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .m-y-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .m-y-5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .m-y-15 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .m-y-10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .m-y-20 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .m-y-30 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .m-y-40 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

html body {
  .vt {
    vertical-align: top;
  }

  .vm {
    vertical-align: middle;
  }

  .vb {
    vertical-align: bottom;
  }
}

html body {
  .font-bold {
    font-weight: 700;
  }

  .font-normal {
    font-weight: normal;
  }

  .font-light {
    font-weight: 300;
  }

  .font-medium {
    font-weight: 500;
  }

  .font-16 {
    font-size: 16px;
  }

  .font-14 {
    font-size: 14px;
  }

  .font-10 {
    font-size: 10px;
  }

  .font-12 {
    font-size: 12px;
  }

  .font-18 {
    font-size: 18px;
  }

  .font-20 {
    font-size: 20px;
  }

  .font-30 {
    font-size: 30px;
  }

  .font-40 {
    font-size: 40px;
  }
}

html body {
  .b-0 {
    border: none;
  }

  .b-r {
    border-right: 1px solid $border;
  }

  .b-l {
    border-left: 1px solid $border;
  }

  .b-b {
    border-bottom: 1px solid $border;
  }

  .b-b-b {
    border-bottom: 1px solid black;
  }

  .b-t {
    border-top: 1px solid $border;
  }

  .b-all {
    border: 1px solid $border;
  }

  .b-all-1 {
    border: 1px solid #a4a4a4;
  }
}

.hide {
  display: none;
}

.img-circle {
  border-radius: 100%;
}

.radius {
  border-radius: $radius;
}

.radius-0 {
  border-radius: 0px !important;
}

// Text Colors
.text-dark {
  color: $dark !important;
}

.text-white {
  color: $white !important;
}

.text-danger {
  color: $danger !important;
}

.text-muted {
  color: $muted !important;
}

.text-warning {
  color: $warning !important;
}

.text-success {
  color: $success !important;
}

.text-info {
  color: $info !important;
}

.text-teal {
  color: $teal !important;
}

.text-secondary {
  color: $secondary !important;
}

.text-inverse {
  color: $inverse !important;
}

.text-blue {
  color: $blue;
}

.blue-text{
  color: #367bf5;
}

.text-purple {
  color: $purple;
}

.text-primary {
  color: $primary;
}

.text-themecolor {
  color: $themecolor;
}

.justify-content{
  justify-content: center;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.text-strike {
  text-decoration-line: line-through;
  text-decoration: line-through;
}

// Background Colors
.bg-primary {
  background-color: $primary !important;
}

.bg-success {
  background-color: $success !important;
}

.bg-info {
  background-color: $info !important;
}

.bg-warning {
  background-color: $warning !important;
}

.bg-danger {
  background-color: $danger !important;
}

.bg-teal {
  background-color: $teal !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

html body {
  .bg-theme {
    background-color: $themecolor;
  }

  .bg-inverse {
    background-color: $inverse;
  }

  .bg-light-primary {
    background-color: $light-primary;
  }

  .bg-light-success {
    background-color: $light-success;
  }

  .bg-light-info {
    background-color: $light-info;
  }

  .bg-light-extra {
    background-color: $extra-light;
  }

  .bg-light-warning {
    background-color: $light-warning;
  }

  .bg-light-danger {
    background-color: $light-danger;
  }

  .bg-light-teal {
    background-color: $light-teal !important;
  }

  .bg-light-inverse {
    background-color: $light-inverse;
  }

  .bg-light {
    background-color: $light;
  }

  .bg-white {
    background-color: $white;
  }
}

.img-circle {
  border-radius: 100%;
}

.no-shadow {
  box-shadow: none;
}

hr {
  border: 0px;
  height: 1px;
  background: $border;
}

.label {
  padding: 3px 10px;
  line-height: 13px;
  color: $white;
  font-weight: 400;
  border-radius: $radius;
  font-size: 75%;
}

.label-rounded {
  border-radius: 60px;
}

.label-success {
  background-color: $success;
}

.label-info {
  background-color: $info;
}

.label-warning {
  background-color: $warning;
}

.label-danger {
  background-color: $danger;
}

.label-primary {
  background-color: $primary;
}

.label-red {
  background-color: $red;
}

.label-teal {
  background-color: $teal;
}

.label-secondary {
  background-color: $secondary;
}

.label-inverse {
  background-color: $inverse;
}

.label-default {
  background-color: $light;
}

.label-white {
  background-color: $white;
}

.label-light-success {
  background-color: $light-success;
  color: $success;
}

.label-light-info {
  background-color: $light-info;
  color: $info;
}

.label-light-warning {
  background-color: $light-warning;
  color: $warning;
}

.label-light-danger {
  background-color: $light-danger;
  color: $danger;
}

.label-light-primary {
  background-color: $light-primary;
  color: $primary;
}

.label-light-teal {
  background-color: $light-teal;
  color: $teal;
}

.label-light-inverse {
  background-color: $light-inverse;
  color: $inverse;
}

.form-control {
  border: 0px;
  line-height: 25px;
  padding: 10px;
  width: 100%;
  font-size: $font-16;
}

.mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.25);
}

.mat-form-field {
  width: 100%;
}

.mat-card {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.75) !important;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25) !important;
  border-radius: $radius;
  margin: 15px;
}

mat-toolbar {
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.5);

  &.head-bar {
    padding: 0px 15px;
  }

  .navbar-header {
    text-align: center;
    width: 224px;

    .navbar-brand {
      display: flex;
      line-height: 18px;
      align-items: center;

      b {
        margin-right: 5px;
      }
    }
  }

  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
}

.head-bar {
  position: relative;
  z-index: 2;
}

.app-sidenav-container {
  flex: 1;
}

.app-sidenav-container {
  flex: 1 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-drawer-container {
  background: #fff;
}

html .page-wrapper {
  min-height: calc(100vh - 64px);
  height: calc(100vh - 64px);

  .page-content {
    padding: 15px;
  }
}

.page-auto-height {
  height: auto !important;
}

.form-control {
  border: 1px solid $border;
}

$mini-sidebar-width: 80px;

.mat-sidenav {
  width: 240px;
  padding-top: 0px;
}

#sidebar {
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);

  .mat-drawer-inner-container {
    overflow: hidden;
  }

  .sidebar-item-close {
    display: flex !important;
    flex-direction: row-reverse;
    margin-bottom: 0px !important;
  }

  .mat-nav-list .mat-list-item {
    height: auto;

    &:hover {
      background: none;
    }

    .mat-list-item-content {
      display: block;
      padding: 0px 0px;

      &:hover {
        background: none;

        >a {
          color: $themecolor;
        }
      }
    }

    a {
      height: 45px;
      padding: 0 10px;
      margin-bottom: 10px;
      align-items: center;
      display: flex;
      font-size: 15px;
      white-space: nowrap;
      color: $sidebar-text;

      mat-icon:not(.dd-icon) {
        margin-right: 8px;
      }

      mat-icon {
        color: $sidebar-icons;
      }

      .dd-icon {
        font-size: 16px;
        width: 16px;
        transition: 0.2s ease-in;
        margin: 5px 0 5px 5px;
        height: 16px;
      }
    }

    &.selected>.mat-list-item-content>a {
      background: $themecolor-alt;
      border-radius: $radius;
      color: $white;

      mat-icon {
        color: $white;
      }

      .dd-icon {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
      }
    }

    &.selected .sub-item .mat-list-item-content a.selected {
      background: transparent;
      color: $inverse;
      font-weight: 500;
    }
  }

  .app-sidebar>.mat-nav-list>.mat-list-item>.mat-list-item-content {
    padding: 0px 15px;
  }

  .mat-nav-list .sub-item {
    display: none;
    margin-top: -15px;

    a {
      padding-left: 40px;
      height: 50px;
      margin-bottom: 0px;
    }

    .child-sub-item {
      display: none;
      margin-top: -15px;

      a {
        padding: 0 0 0 55px;
        height: 50px;
        margin-bottom: 0px;
      }
    }
  }

  .saperator {
    cursor: text;
    font-size: 13px;
    margin-bottom: 15px;
    margin-top: 25px;
    font-weight: 500;
    white-space: nowrap;
  }

  .selected {
    .sub-item {
      display: block;

      .selected+ {
        .child-sub-item {
          display: block;
        }
      }
    }
  }
}

.person-profile {
  position: relative;
  background-size: cover;
  text-align: center;
  position: relative;
  background-size: cover;
  text-align: center;
  border-bottom: 1px solid #d2cece;
  box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.2);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;

  .profile-img {
    width: 50px;
    margin-left: 100px;
    padding: 20px 0 0 0;
    border-radius: 100%;

    img {
      width: 100%;
      border-radius: 100%;
    }
  }

  .profile-text {
    padding: 5px 0px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;

    >a {
      width: 100%;
      padding: 6px 30px;
      display: block;
      white-space: nowrap;

      &:after {
        position: absolute;
        right: 20px;
        top: 20px;
      }
    }
  }
}

@media (min-width: 960px) {
  .side-menu-mini #sidebar {
    .mat-drawer-backdrop {
      display: none;
    }

    &.mat-sidenav~.mat-drawer-content {
      margin-left: $mini-sidebar-width !important;
    }

    &.mat-sidenav {
      overflow: hidden;
      -webkit-transition: width 0.2s cubic-bezier(0.25, 0.8, 0.25, 1),
        transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
      transition: width 0.2s cubic-bezier(0.25, 0.8, 0.25, 1),
        transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    }

    &.mat-sidenav {
      width: $mini-sidebar-width;

      .sub-menu,
      .dd-icon,
      .selected .sub-item {
        display: none;
        visibility: hidden;
      }

      .person-profile {
        .profile-img {
          margin-left: 15px;
        }

        .profile-text {
          visibility: hidden;
        }
      }

      .saperator span {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 40px;
        display: block;
      }

      .mat-list-item>.mat-list-item-content>a {
        padding-right: 0;
        padding-left: 0;
        text-align: center;
      }

      .mat-list-item>.mat-list-item-content>a>span:not(.menu-badge),
      .mat-list-item>.mat-list-item-content>a>.menu-caret {
        display: none;
      }

      .mat-list-item>.mat-list-item-content>a>span.menu-badge {
        position: absolute;
        top: 10px;
        right: 16px;
      }

      .mat-list-item>.mat-list-item-content>a>.material-icons {
        width: $mini-sidebar-width !important;
        padding: 0;
        margin: 0;
      }
    }
  }
}

.sidebar-closed #sidebar {
  &.mat-sidenav~.mat-drawer-content {
    margin-left: 0px !important;
  }
}

.blue-app {
  $blue-app-primary: mat-palette($mat-indigo, 600);
  $blue-app-accent: mat-palette($mat-blue, A200, A100, A400);
  $blue-app-warn: mat-palette($mat-pink);

  $blue-app-theme: mat-light-theme($blue-app-primary,
      $blue-app-accent,
      $blue-app-warn);
  $themecolor: #1e88e5;
  $themecolor-alt: #1e88e5;
  $white: #fff;

  #sidebar {
    .mat-nav-list .mat-list-item {
      .mat-list-item-content {
        &:hover {
          >a {
            color: $themecolor;
          }
        }
      }

      &.selected>.mat-list-item-content>a {
        background: $themecolor-alt;
        color: $white;
      }
    }
  }

  .mat-focused .mat-form-field-required-marker {
    color: #ff4081 !important;
  }

  @include angular-material-theme($blue-app-theme);
}

$custom-typography: mat-typography-config($font-family: 'Poppins'
);

@include mat-core($custom-typography);

// shadow's
.shadow-dark-2 {
  box-shadow: 0px 1px 2px rgba(8, 35, 48, 0.24),
    0px 2px 6px rgba(8, 35, 48, 0.16);
}

.shadow-dark-4 {
  box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24),
    0px 4px 8px rgba(8, 35, 48, 0.16);
}

.shadow-dark-8 {
  box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.16),
    0px 8px 16px rgba(8, 35, 48, 0.1);
}

.shadow-dark-16 {
  box-shadow: 0px 6px 12px rgba(8, 35, 48, 0.14),
    0px 16px 24px rgba(8, 35, 48, 0.08);
}

.shadow-dark-24 {
  box-shadow: 0px 8px 16px rgba(8, 35, 48, 0.1),
    0px 24px 32px rgba(8, 35, 48, 0.06);
}

.shadow-primary-4 {
  box-shadow: 0px 2px 4px rgba(54, 123, 245, 0.24),
    0px 4px 8px rgba(54, 123, 245, 0.16);
}

.shadow-primary-16 {
  box-shadow: 0px 6px 12px rgba(54, 123, 245, 0.16),
    0px 16px 24px rgba(54, 123, 245, 0.16);
}

.shadow-success-4 {
  box-shadow: 0px 2px 4px rgba(47, 168, 79, 0.24),
    0px 4px 8px rgba(47, 168, 79, 0.16);
}

.shadow-success-16 {
  box-shadow: 0px 6px 12px rgba(47, 168, 79, 0.16),
    0px 16px 24px rgba(47, 168, 79, 0.16);
}

.shadow-warning-4 {
  box-shadow: 0px 2px 4px rgba(243, 170, 24, 0.24),
    0px 4px 8px rgba(243, 170, 24, 0.16);
}

.shadow-warning-16 {
  box-shadow: 0px 6px 12px rgba(243, 170, 24, 0.16),
    0px 16px 24px rgba(243, 170, 24, 0.16);
}

.shadow-danger-4 {
  box-shadow: 0px 2px 4px rgba(234, 61, 47, 0.24),
    0px 4px 8px rgba(234, 61, 47, 0.16);
}

.shadow-danger-16 {
  box-shadow: 0px 6px 12px rgba(234, 61, 47, 0.16),
    0px 16px 24px rgba(234, 61, 47, 0.16);
}

// Gradients
.bg-gradient-1 {
  background: linear-gradient(90deg, #ffecd2 0%, #fcb69f 100%);
}

.bg-gradient-2 {
  background: linear-gradient(90deg, #f6d365 0%, #fda085 100%);
}

.bg-gradient-3 {
  background: linear-gradient(90deg, #84fab0 0%, #8feafe 100%);
}

.bg-gradient-4 {
  background: linear-gradient(90deg, #cff37d 0%, #7de88c 100%);
}

.bg-gradient-5 {
  background: linear-gradient(90deg, #ffb199 0%, #ff0844 100%);
}

.bg-gradient-6 {
  background: linear-gradient(90deg, #f093fb 0%, #f5576c 100%);
}

.bg-gradient-7 {
  background: linear-gradient(90deg, #fef7df 0%, #f0dccb 100%);
}

.bg-gradient-8 {
  background: linear-gradient(90deg, #d1fdff 0%, #ffecbc 100%);
}

.bg-gradient-9 {
  background: linear-gradient(90deg, #fff3f3 0%, #ebd1ff 100%);
}

.bg-gradient-10 {
  background: linear-gradient(90deg, #f3e7e9 0%, #e3eeff 100%);
}

.mat-radio-label-wrap {
  .mat-radio-label {
    white-space: initial;
  }
}
.cursor-pointer{
  cursor: pointer;
}

.badge{
  display: inline-block;
  padding: .35em .65em;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.bg-primary{
  background-color: #1266f1!important;
}

.bg-success{
  background-color: #00b74a!important;
}

.bg-danger {
  background-color: #f93154!important;
}

